results/SourceData/SourceData_Fig3fgh.tsv filter=lfs diff=lfs merge=lfs -text
results/SourceData/SourceData_FigS1.tsv filter=lfs diff=lfs merge=lfs -text
results/SourceData/SourceData_FigS25.tsv filter=lfs diff=lfs merge=lfs -text
results/human_pocketome/pocket_comparisons/results_similar.tsv filter=lfs diff=lfs merge=lfs -text
